<p id="notice"><%= notice %></p>

<div class="momo">

<h3>Everyone's Task</h3>

<div class="box" align="right">
    <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
</div>
<br>

<%= link_to 'New Task', new_blog_path %>
    <i class="fa-regular fa-calendar-plus"></i>
<br>
<br>
<%= link_to 'MyPage', user_path(current_user.id) %>
    <i class="fa-regular fa-user"></i>
<br>
<br>
<br>

<%= month_calendar events: @blogs do |date, blogs| %>
<%= date.day %>


<%# blogs.each do |blog| %>
    <div>
        <%#= link_to blog.title, blog %>
    </div>

<div class="release">
        <ul>
            <% blogs.each do |t| %>
                <% if t.release == "Public" %> 
                    <div class="blog">
                        <li><%= t.title %></li>
                    </div>
                <% end %>
            <% end %>
        </ul>
    </div>
    <div class="unrelease">
        <ul>
            <% blogs.each do |t| %>
                <% if t.release == "Private" %> 
                    <div class="blog">
                        <li><%= t.title %></li>
                    </div>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>

<%# end %>

<% end %>
</div>



