<%= form_with(model: @blog, local: true) do |form| %>
<br>
<br>
    <div class="post-container">
        <div class="title">
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>
<br>
        <div class="content">
            <%= form.label :content %>
            <%= form.text_field :content %>
        </div>
<br>
        <div class="time">
            <%= form.label :deadline %>
            <%= form.datetime_select :deadline %>
        </div>
<br>
        <%= form.label :release, "Status" %><br>
        <%= form.select :release,[["Public", "Public"],["Private", "Private"]], include_blank: "" %><br>
<br>      
        <div class="submit">
            <%= form.submit %>
        </div>
    </div>
<% end %>
